---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Helpers
@import
  'helpers/variables',
  'helpers/mixins';

// Base
@import
  'base/reset';

// Utilities
@import
  'utilities/layout';

// Components
@import
  'components/header',
  'components/mui',
  'components/colors',
  'components/navigation',
  'components/article',
  'components/archives',
  'components/social',
  'components/buttons',
  'components/footer';

// Themes
@import
  'themes/blue',
  'themes/green',
  'themes/grey',
  'themes/orange',
  'themes/purple';

// Vendor
@import
  'vendor/syntax-highlighting';
  
  .mui-container {
    max-width: 800px;
  }

.site-appbar {
    background-color: mui-color("indigo", "500");
    left: 0;
    margin-bottom: 15px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
}


.mui-container-fluid {
    &.post-content {
        margin: 0 auto;
        max-width: $content-width;
    }

    img {
        display: block;
        max-width: 100%;
    }
}
