<!DOCTYPE html>
<html class="t-{{ site.theme }}">
  {% include head.html %}
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">{{ page.title }}</h1>
    </div>
  </header>
  <body>
    {% include navigation.html %}
    {% include sidebar.html %}
        <div class="wrap">

      <div class="container content">
        <article class="c-article">
  

          <div class="c-article__main">
         {{ content }}
       </div>
</article>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;
          checkbox.checked = false;
        }, false);
      })(document);
    </script>

    {% include footer.html %}
      </body>
</html>
