<!DOCTYPE html>
<html class="t-{{ site.theme }}">
  {% include head.html %}
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">{{ page.title }}</h1>
    </div>
  </header>
  <body>
    {% include navigation.html %}
    {% include sidebar.html %}
        <div class="wrap">

      <div class="container content">
        <article class="c-article">
  

          <div class="c-article__main">
         {{ content }}
       </div>
</article>

      </div>
    </div>

    {% include footer.html %}
      </body>
</html>
